* {
    box-sizing: border-box;
  }
  
  html {
    
  }
  
  body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #FDB827, #542583);
  }
  h1 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1rem;
    margin-right: -1rem;
    color: white;
  }