* {
    box-sizing: border-box;
  }
  
  html {
    
  }
  
  body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #FDB827, #542583);
  }
  h1 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1rem;
    margin-right: -1rem;
    color: white;
  }
  #screen {
    background: #eee;
    border: solid 5px white;
    width: 210px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #screen div {
    width: 20px;
    height: 20px;
    border: solid 1px white;
  }
  
  #screen div:nth-of-type(n+201) {
    border: transparent;
  }
  
  #preview-screen {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    border: solid 5px white;
    background: #eee;
  }
  
  #preview-screen div {
    width: 20px;
    height: 20px;
    border: solid 1px white;
  }
  
  #preview-screen div:nth-of-type(n+17) {
    border: transparent;
  }
  
  .tetromino {
  /*   background: red; */
  }
  
  #score {
    padding: 5px;
    color: white;
    
  }